* {
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    color: black;
    background-color: hsla(60, 100%, 50%, 0.712);
}

a {
    text-decoration: none;
}

a:visited {
    color: #1a76d2;
}

p {
    font-size: small;
    color: #b3b3b3;
}

body {
    background-color: #272727;
    color: #ffffff;
    font-family: sans-serif;
}

#banner {
    font-size: 35px;
    color: #1a76d2;
    background-color: #1a1a1d;
    font-family:  "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: auto;
    padding-bottom: 3px;
}

#totalguesses {
    margin-top: 5px;
}

.guessbox {
    height: 120px;
    background-color: #494949;
    width: 1300px;
    border-radius: 5px;
    margin-top: 20px;
    display: none;
    overflow-x: scroll;
}



.guessbox:first-child{
    display: inline-table;
}

thead th {
    position: relative;
    top: 5px;
    font-size: 20px;
    color: white;
    padding-top: 50;
}

thead th:first-child {
    padding-right: 20px;
}

#searchbar_button {
    margin-top: 5px;
}

#search {
    height: 50px;
    width: 600px;
    margin-right: 10px;
    font-size: 25px;
}

#submitguess {
    width: 75px;
}

button {
    font-size: x-large;
    height: 50px;
    background-color: #1a1a1d;
    color: #1a76d2;
    font-family: "Jaro", sans-serif;
    border-radius: 5px;
    user-select: none;
}

button:hover {
    background-color: #1a76d2;
    color: white;
    transition: 0.3s;
}

button:active {
    transform: scale(0.98);
}

footer {
    color: #b3b3b3;
    font-size: smaller;
    margin: 10px;
    justify-self: center;
}

#suggestions {
    box-shadow: 0px 0px 5px rgb(105, 102, 102);
    position: relative;
    left: -45px;
}

#suggestions div {
    padding: 5px;
    width: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#suggestions div:hover {
    background-color: #555555;
}

#alertsign {
    color: rgb(255, 0, 0);
    font-size: small;
    position: relative;
    font-weight: 100;
}
tbody th {
    color: rgba(214, 41, 41, 0.767);
}
.animetitle {
    width: 200px;
}
.score {
    width: 65px;
}
.genres {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}
.type {
    width: 30px;
}
.episodes {
    width: 40px;
}
.aired {
    width: 50px;
}
.studios {
    width: 60px;
}
.Source {
    width: 40px;
}
.ranked {
    width: 30px;
}
.popularity {
    width: 30px;
}

.uparrow {
    background-image: url(SVG/arrow_upward.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.downarrow {
    background-image: url(SVG/arrow_downward.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#extratable {
    display: none;
}

#cluebox {
    background-color: #494949;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    display: none;
    position: relative;
}

img {
    height: 270px;
    margin: 10px 15px 15px 5px;
    position: relative;
    border-radius: 5px;
    filter: grayscale(1);
    user-select: none;
    -webkit-user-drag: none;
    transition: all 0.3s ease;
    display: none;
}

#themes_synopsis {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#themes_synopsis h2{
    width: 350px;
}
#themes_synopsis h4{
    width: 350px;
    height: 210px;
    display: none;
}

h4 {
    align-self: center;
    overflow-y: scroll;
    font-weight: 100;
}

#restartbutton {
    display: none;
    width: 150px;
    font-size: 1.5em;
    margin-top: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: rgb(105, 102, 102);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb:active {
    background: #1262b3;
}

::-webkit-scrollbar-track{
    background-color: #272727;
    border-radius: 100px;
}

#cluebox h2 button {
    width: 350px;
    height: 50px;
}

#cluebox button {
    background-color: #272727;
    border: #272727 solid 1px;
    font-size: small;
    color: #b3b3b3;
    font-family: sans-serif;
}

#cluebox button:hover {
    background-color: #1a1a1d;
    color: #ffffff;
}

#cluebox button:active {
    transform: scale(1);
}

#synopsisbutton {
    width: 335px;
    height: 210px;
}

#imgbutton {
    position: absolute;
    top: 10px;
    right: 15px;
    height: 270px;
    width: 175px;
    z-index: 1;
    display: none;
}

#points {
    position: fixed;
    bottom: 20px;
    width: 200px;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #1a76d2;
    font-size: 35px;
    background-color: #1a1a1d;
    font-family:  "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    padding-left: 5px;
}

.gradienttext {
    font-size: 3em;
    font-weight: 100;
    font-family: "Jaro", sans-serif;
    text-align: center;
    background: linear-gradient(to top, #0b3d6e, #1262b3, #1a76d2, #529ae2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientmove 1.5s infinite linear;
}

.container {
    width: 1300px;
}

@keyframes gradientmove {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}
/*responsive css*/

@media screen and (max-width:1310px) and (min-width:780px){
    .container {
        width: 100%;
        overflow-x: auto;
    }
    .container::-webkit-scrollbar {
        height: 4px;
    }
}
@media screen and (max-width:779px) and (min-width:580px){
    .container {
        width: 100%;
        overflow-x: auto;
    }
    #search{
        width: 400px;
        transition: 0.5s;
    }
    #suggestions {
        width: 400px;
        transition: 0.5s;
    }
    #suggestions div{
        width: 400px;
        transition: 0.5s;
    }
    #alertsign {
        position: static;
    }
    .container::-webkit-scrollbar {
        height: 4px;
    }
}
@media screen and (max-width:579px){
    .container {
        width: 100%;
        overflow-x: auto;
    }
    #search{
        width: 250px;
        transition: 0.5s;
    }
    #suggestions {
        width: 250px;
        transition: 0.5s;
    }
    #suggestions div{
        width: 250px;
        transition: 0.5s;
    }
    #alertsign {
        position: static;
    }
    .container::-webkit-scrollbar {
        height: 4px;
    }
}